*{
    margin: 0;
    padding: 0;
  }
  
  
  body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .magazine-cover {
    display: grid;
    grid-template-areas: 
      "title title title"
      "feature-article feature-article cover-image"
      "small-article1 small-article2 cover-image";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
    width: 90vw;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  .title{
    grid-area: title;
    text-align: center;
    color: #DB7093;
    background-color: #c4f490;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 1rem;
  
  }
  
  .feature-article{
    grid-area: feature-article;
    padding-top: 25px;
  
  }
  
  .small-article1{
    grid-area: small-article1;
    background-color: #c0ff8052;
  }
  
  .small-article2{
    grid-area: small-article2;
    background-color: #c0ff8052;
  }
  
  .cover-image{
    grid-area: cover-image;
    height: auto;
    background-color: #db7094bc;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  
  section {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  section h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
  